* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: block;
    width: 100vw;
    height: fit-content;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f8f8f8;
}

a{
    color: RoyalBlue;
    font-weight: bold;
}

button{
    cursor: pointer;
}

.app-container-content{
    width: 80%;
    margin: 0 auto;
}