#books {
    & h1+h4 {
        margin: 40px 0 60px;
        text-align: center;
    }
}

.bibliotech {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;

    & figure {
        position: relative;
        display: inline-block;
        height: fit-content;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0 2px 0 rgba(black, 0.4);

        & img {
            width: 130px;
            height: 200px;
        }

        & figcaption {
            padding: 20px;

            & h3,
            & h4 {
                padding-bottom: 10px;
            }

            & h4 {
                color: #777;
            }
            & a{
                display: block;
                margin: 10px 0 0;
            }
        }
    }
}