.introduce-myself{
    padding: 20px 0;
    h1, h4{
        text-align: center;
    }

    h4{
        color: #888;
    }

    .info-introduce{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
        margin: 20px 0;
    }
}