#projects {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 30px 0;
    margin-bottom: 150px;

    & h1 {
        width: 100%;
        padding-bottom: 30px;
    }

    .project-container {
        display: flex;
        flex-flow: column nowrap;
        gap: 40px;
        align-items: center;
        width: 80%;

        .project {
            width: 100%;
            height: fit-content;
            padding-bottom: 50px;
            box-shadow: 0 2px 0 0 rgba(black, 0.2);

            h2,
            .desc-project {
                padding: 10px 0;
            }

            .tech-tags {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
            }

            .links-project {
                position: relative;
                display: block;
                text-decoration: none;
                margin: 20px 0 40px;
            }
        }
        .button-show{
            padding: 0.8em 1em;
            border-radius: 1.4em;
            border: 1pt solid black;
            cursor: pointer;
        }
    }
    
}